<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous">
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    <header class="section">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand"
                   href="https://github.com/FlynntKnapp/"
                   target="_blank">
                    <img src="https://flynntknapp-images.s3.us-east-2.amazonaws.com/LogoLightGreyBackground.png"
                         style="border-radius: 0.2em; width: 2em" />
                </a>
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse"
                     id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <span class="nav-link">
                                Greetings, {{ user.username | capfirst }}!
                            </span>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link active"
                               aria-current="page"
                               href="{% url 'home' %}">Home</a>
                        </li>

                        {% if user.registration_accepted %}
                        <li class="nav-item">
                            <a class="nav-link"
                               href="#">Inspirationals</a>
                        </li>
                        {% endif %}

                        {% if not user.is_authenticated and not hide_login_link %}
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{% url 'login' %}">Login</a>
                        </li>
                        {% endif %}

                        {% if not user.is_authenticated and not hide_signup_link %}
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{% url 'signup' %}">Signup</a>
                        </li>
                        {% endif %}

                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{% url 'logout' %}">Logout</a>
                        </li>
                        {% endif %}

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               href="#"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                More
                            </a>
                            <ul class="dropdown-menu">

                                {% if user.is_authenticated and user.registration_accepted %}
                                <li>
                                    <a class="dropdown-item"
                                       href="#">Inspirationals</a>
                                </li>
                                {% if not hide_inspirational_create_link %}
                                <li>
                                    <a class="dropdown-item"
                                       href="#">Create Inspirational</a>
                                </li>
                                {% endif %}
                                <li>
                                    <hr class="dropdown-divider">
                                </li>

                                {% if not hide_edit_profile_link %}
                                <li>
                                    <a class="dropdown-item"
                                       href="{% url 'edit' user.id %}">Edit User</a>
                                </li>
                                {% endif %}
                                {% endif %}


                                {% if user.is_authenticated %}
                                <li>
                                    <a class="dropdown-item"
                                       href="{% url 'password_change' %}">Change Password</a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="{% url 'password_reset' %}">Reset Password</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                {% endif %}
                                {% if user.is_staff and user.registration_accepted %}
                                <li>
                                    <a class="dropdown-item"
                                       href="{% url 'admin:index' %}">
                                        Django Admin Interface
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="#">Inspirationals-API</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                {% endif %}
                                <li>
                                    <a href="https://github.com/brucestull/bruce-stull"
                                       target="_blank">
                                        BS Blog - GitHub Repository
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex"
                          role="search">
                        <input class="form-control me-2"
                               type="search"
                               placeholder="Search"
                               aria-label="Search"
                               disabled>
                        <button class="btn btn-outline-success"
                                type="submit"
                                disabled>Search</button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
    </header>
    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Sticky footer with fixed navbar</h1>
            <p class="lead">Pin a footer to the bottom of the viewport in desktop browsers with this custom HTML and
                CSS. A fixed navbar has been added with <code class="small">padding-top: 60px;</code> on the <code
                      class="small">main &gt; .container</code>.</p>
            <p>Back to <a href="../examples/sticky-footer/">the default sticky footer</a> minus the navbar.</p>
        </div>
    </main>

    <footer class="footer mt-auto py-3 bg-body-tertiary">
        <div class="container">
            <span class="text-body-secondary">Place sticky footer content here.</span>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
</body>

</html>